- # Boa noite, Vitor do futuro. Essa foi a linha mais desnecessariamente complexa que você escreveu até o dia 19 de Março de 2014.
- # Se você encontrou um problema com ela, eu deixo aqui minhas sinceras desculpas.
- # Boa noite. são 28 de Novembro de 2015 e essa linha ainda funciona. Na verdade nem é tão complexa assim. Você é que era mais burro.
- # Boa tarde. São 8 de Setembro de 2016. Não seja tão mau com o HP de 2014. A linha dele ainda funciona ao contrário de umas coisas que vc fez.
- # Correção. Quebrou sim quando fui usar com a gem cocoon. :(
.nested-fields
  = f.input :id, as: :hidden
  = f.input :name, label: false
  = link_to_remove_association f do
    .fa.fa-times
