
= content_for :heading do
  .home__heading
    %h1.home__title= t(".title")

.home__content
  .row
    .col-sm-12
      %h2.home__subtitle= t(".create_character")
  .row
    .col-sm-12
      = link_to t(".create_fate_core_btn"), new_character_path, class: "home__create-character-btn"
