development:
  adapter: postgresql
  encoding: utf8
  database: wod_development
  pool: 5
  username: postgres
  password:

test:
  adapter: postgresql
  encoding: utf8
  database: wod_test
  pool: 5
  username: postgres
  password:
