development:
  adapter: postgresql
  encoding: utf8
  database: fate_development
  pool: 5
  username: postgres
  password: 

test:
  adapter: postgresql
  encoding: utf8
  database: fate_test
  pool: 5
  username: postgres
  password:
