.character
  .character__stats
    %span.character__name= character.name
    .character__user= t(".created_by", user: character.user_name) unless character.user.nil?
    %span.character__concept= character.description
  .character__tags
