%span.character__sheet-title= t("activerecord.models.extra", count: 2)
%ul.list-unstyled.character__stunts
  - extras.each do |x|
    %li.character__stunt
      %span.character__stunt-name= x.name
      %p.character__stunt-description= x.description
%br
