%span.character__sheet-title= t("activerecord.models.skill", count: 2)
%ul.list-unstyled.character__skills
  - Campaign.vanilla_fate_core.skill_cap.downto(1) do |level|
    %li
      .row
        .col-xs-1
          %span.character__skill-label= "+#{level}"
        .col-xs-10
          %ul.list-inline
            - ratings.select{ |r| r.level == level && r.skill_id.present? }.each do |r|
              %li.character__skill= r.skill_name
