.nested-fields
  = f.input :id, as: :hidden
  = f.input :name, label: false, placeholder: t("activerecord.attributes.stunt.name")
  = f.input :description, label: false, placeholder: t("activerecord.attributes.stunt.description")
  = link_to_remove_association f do
    .fa.fa-times
