= link_to t(".new_character"), new_campaign_character_path(campaign_id: params[:campaign_id])

%ul
  - @characters.each do |character|
    %li= link_to character.name, edit_campaign_character_path(character, campaign_id: params[:campaign_id])
