.home__heading
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  background: linear-gradient(to right, darken($fate-blue, 10%), $fate-blue, darken($fate-blue, 10%))
  height: 12rem
  box-shadow: 0px 2px 13px $shadow

.home__title
  font-family: MinstrelPosterRegular
  color: $white
  text-align: center
  font-size: 4.375rem

.home__content
  text-align: center

.home__subtitle
  margin-bottom: 20px

.home__create-character-btn
  font-family: MinstrelPosterRegular
  color: #fff
  height: 6rem
  width: 200px
  background-color: $fate-blue
  display: inline-block
  line-height: 6rem
  font-size: 2rem
  border-radius: 4px
  text-align: center
  box-shadow: 0px 2px 6px 1px $shadow
  outline: 0
  transition: .2s ease-out
  overflow: hidden
  white-space: nowrap
  cursor: pointer
  vertical-align: middle
  border: none

  &.disabled
    cursor: not-allowed
    opacity: 0.3

.home__create-character-btn.w3-disabled *, 
.home__create-character-btn:disabled *, 
  pointer-events: none

.home__create-character-btn:hover
  text-decoration: none
  color: $white
  background-color: lighten($fate-blue, 5%)
  box-shadow: 0 8px 16px 0 $shadow, 0 6px 20px 0 $shadow
