.form
  margin-bottom: 30px

  .header
    display: inline-block
    margin-right: 1rem

  .nested-fields
    position: relative

  a.remove_fields
    position: absolute
    line-height: $input-height-base
    right: 10px
    top: 0

.skill
  &__check
    float: right
    position: relative
    display: inline-block
    width: 20px
    height: 20px
    border: 2px solid rgba(0,0,0, .54)
    border-radius: 2px
    overflow: hidden
    z-index: 1
    border-radius: 50%
    margin: 0 1px

    &:hover
      cursor: pointer
      background-color: grey

    &--checked
      background-color: black
