@font-face
  font-family: 'MinstrelPosterRegular'
  src: font-url( asset-path('minstrelposterwhg.posternf-webfont.eot') )
  src: font-url('minstrelposterwhg.posternf-webfont.eot?#iefix') format('embedded-opentype'), font-url('minstrelposterwhg.posternf-webfont.woff2') format('woff2'), font-url('minstrelposterwhg.posternf-webfont.woff') format('woff'), font-url('minstrelposterwhg.posternf-webfont.ttf') format('truetype'), font-url('minstrelposterwhg.posternf-webfont.svg#minstrel_poster_nfregular') format('svg')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'AlegreyaSansBlack'
  src: font-url('alegreyasanssc-black-webfont.eot')
  src: font-url('alegreyasanssc-black-webfont.eot?#iefix') format("embedded-opentype"), font-url'alegreyasanssc-black-webfont.woff2') format("woff2"), font-url'alegreyasanssc-black-webfont.woff') format("woff"), font-url'alegreyasanssc-black-webfont.ttf') format("truetype"), font-url'alegreyasanssc-black-webfont.svg#AlegreyaSansBlack') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'AlegreyaSansBold'
  src: font-url('alegreyasanssc-bold-webfont.eot')
  src: font-url('alegreyasanssc-bold-webfont.eot?#iefix') format("embedded-opentype"), font-url'alegreyasanssc-bold-webfont.woff2') format("woff2"), font-url'alegreyasanssc-bold-webfont.woff') format("woff"), font-url'alegreyasanssc-bold-webfont.ttf') format("truetype"), font-url'alegreyasanssc-bold-webfont.svg#AlegreyaSansBold') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'AlegreyaSansExtraBold'
  src: font-url('alegreyasanssc-extrabold-webfont.eot')
  src: font-url('alegreyasanssc-extrabold-webfont.eot?#iefix') format("embedded-opentype"), font-url'alegreyasanssc-extrabold-webfont.woff2') format("woff2"), font-url'alegreyasanssc-extrabold-webfont.woff') format("woff"), font-url'alegreyasanssc-extrabold-webfont.ttf') format("truetype"), font-url'alegreyasanssc-extrabold-webfont.svg#AlegreyaSansExtraBold') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'AlegreyaSansLight'
  src: font-url('alegreyasanssc-light-webfont.eot')
  src: font-url('alegreyasanssc-light-webfont.eot?#iefix') format("embedded-opentype"), font-url'alegreyasanssc-light-webfont.woff2') format("woff2"), font-url'alegreyasanssc-light-webfont.woff') format("woff"), font-url'alegreyasanssc-light-webfont.ttf') format("truetype"), font-url'alegreyasanssc-light-webfont.svg#AlegreyaSansLight') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'AlegreyaSansMedium'
  src: font-url('alegreyasanssc-medium-webfont.eot')
  src: font-url('alegreyasanssc-medium-webfont.eot?#iefix') format("embedded-opentype"), font-url'alegreyasanssc-medium-webfont.woff2') format("woff2"), font-url'alegreyasanssc-medium-webfont.woff') format("woff"), font-url'alegreyasanssc-medium-webfont.ttf') format("truetype"), font-url'alegreyasanssc-medium-webfont.svg#AlegreyaSansMedium') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'AlegreyaSansRegular'
  src: font-url('alegreyasanssc-regular-webfont.eot')
  src: font-url('alegreyasanssc-regular-webfont.eot?#iefix') format("embedded-opentype"), font-url'alegreyasanssc-regular-webfont.woff2') format("woff2"), font-url'alegreyasanssc-regular-webfont.woff') format("woff"), font-url'alegreyasanssc-regular-webfont.ttf') format("truetype"), font-url'alegreyasanssc-regular-webfont.svg#AlegreyaSansRegular') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'AlegreyaSansThin'
  src: font-url('alegreyasanssc-thin-webfont.eot')
  src: font-url('alegreyasanssc-thin-webfont.eot?#iefix') format("embedded-opentype"), font-url'alegreyasanssc-thin-webfont.woff2') format("woff2"), font-url'alegreyasanssc-thin-webfont.woff') format("woff"), font-url'alegreyasanssc-thin-webfont.ttf') format("truetype"), font-url'alegreyasanssc-thin-webfont.svg#AlegreyaSansThin') format("svg")
  font-weight: normal
  font-style: normal
