@import "bootstrap-sprockets"
@import "bootstrap"
@import "jquery-ui"

@import "colors"
@import "fonts"
@import "modules/navigation"
@import "modules/home"
@import "modules/characters_list"
@import "modules/character_form"

html
  font-size: 16px

main
  padding-top: 50px

body
  font-family: AlegreyaSansRegular
  font-size: 1rem

