@import 'bootstrap';

ul.house-rules {
  .panel-heading {
    height: 55px;
    font-size: 18px;
  }

  a {
    color: #000;
  }

  .liked {
    color: $brand-success;
  }

  .likes, .fave, .comments {
    margin-left: 15px;
  }

}

.no_comments {
  height: 50px;
  font-size: 20px;
  text-align: center;
}

.comments {
  list-style: none;
}

.comments .author{
  font-size: 13px;
}

.comment .title {
  font-weight: bold;
}
