@import 'bootstrap';

ul.house-rules {

  .liked {
    color: $brand-success;
  }

  .likes, .fave, .comments {
    margin-left: 15px;
  }

  .favorite-house-rule {
    &:hover {
      text-decoration: none;
    }
  }

  .glyphicon-star-empty, .glyphicon-star {
    color: #000;
  }

}

.no_comments {
  height: 50px;
  font-size: 20px;
  text-align: center;
}

.comments {
  list-style: none;
}

.comments .author{
  font-size: 13px;
}

.comment .title {
  font-weight: bold;
}

#tag_cloud {
  width: 100%;
  height: 300px;
}

div.jqcloud {
  height: 300px;
  width: 100%;
}

.tags {
  font-size: 12px;
}
