
@import "bootstrap";
@import "mixins";

ul.skill-groups {
  list-style: none;
}

ul.skills {
  list-style: none;

  li {
    display: inline-block;
  }
}

form.skill-group {
  .skill-group {
    @extend .col-md-8;
    @extend .col-md-offset-2;
  }

  .skill {
    @extend .col-md-4;
    @extend .col-md-offset-2;
  }

  .remove-skill-link {
    @extend .col-md-2;
  }

}
