<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to t('controllers.application.navbar.logout'), destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to t('controllers.application.navbar.login'), new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to t('controllers.application.navbar.edit_account'), edit_user_registration_path %></li>
<% else %>
  <li><%= link_to t('controllers.application.navbar.sign_up'), new_user_registration_path %></li>
<% end %>
